
section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-border{
    padding:.5rem .5rem;
    background: linear-gradient(15deg, hsl(266, 32%, 64%), hsl(60, 9%, 32%));
    border-radius: 5px;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}
.card:nth-child(odd){
  cursor: pointer;
  transform: rotate(-2deg);
  top:6px;
  
}
.card:nth-child(even){
  cursor: pointer;
  transform: rotate(1deg);
  top:-6px;
  
}
.card:hover, .card:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  transform: scale(1.09);
  transition: transform .15s ease-in-out
}
.card {
    max-width: 350px;
    border-radius: 5px;
    background-color: hsl(238, 35%, 19%);
    padding-top:.5rem;
    margin-top: 2rem;
    /* set media queery to only have vertical margin and padding on screens less than tablet */
}
.card-border >img{
  border-radius: 5px;
  aspect-ratio: 1/1;
  object-fit: cover;
  max-width: 100%;
  height: 320px;
}

.dog-attributes{
    display:flex;
    align-items: center;
    justify-content: space-around;
    background-color: hsl(178, 69%, 47%);
    border-radius: 5px;
    font-family: 'Gloria Hallelujah', cursive;
}
.flex{
  display: flex;
  flex-wrap: wrap;
}
.item, .item2 {
  font-weight: 600;
  font-size: medium;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: .5rem;
}
.item2 i{
  margin-right:.5rem;
  width: 16px;
  height: auto;
}
.columns{
  justify-content: space-around;
}
nav{
  padding:1rem;
  margin:1rem;
  border-radius: 5px;
}
.card-header{
  display: flex;
  justify-content: space-around;
  padding:.5rem;
  border-radius:5px;
  font-family: 'Gloria Hallelujah', cursive;
  background-color: hsl(178, 69%, 47%);
  color:hsl(238, 35%, 19%);
}
.card-header2{
  display: flex;
  justify-content: space-around;
  padding:.5rem;
  border-radius:5px;
  font-family: 'Gloria Hallelujah', cursive;
  color:hsl(60, 9%, 69%);
}
.dog-stats{
    display: flex;
}
  .description{
    font-weight: 500;
    display: flex;
    flex-direction: column;
    margin-right:2rem;
    color:#59594A;
  }
  .evil {
    color:#CF5C36;
  }
  .power-level{
    display: flex;
    flex-direction: column;
    /* width:50px; */
  }
@media screen and (min-width:767px) {
  .card{
    padding:.5rem;
    margin: 2rem;
  }
}