.dog-info {
    text-align: left;
    font-weight: 500;   
    outline: solid #CF5C36;
    display:flex;
    

}
.dog-info-description {
    font-weight: 500;
}
a > img {
    width:40px
}

#button-header {
    margin-bottom: 5px;
}
@media screen and (max-width:768px) {
    main{
        flex-direction: column;
    }
    
}

