.dog-info {
    text-align: left;
    font-weight: 500;
    outline: solid salmon;
    
}
.dog-info-description {
    font-weight: 500;
}
a > img {
    width:min-content
}
@media screen and (max-width:768px) {
    main{
        flex-direction: column;
    }
    
}