:root {
   --clr-lavender: hsl(266, 32%, 64%);
   --clr-ash-greg: hsl(60, 9%, 69%);
   --clr-ebony: hsl(60, 9%, 32%);
   --clr-orange: #CF5C36; 
   --clr-blue: hsl(238, 35%, 19%);
}

.aside{
    background-color: rgb(255, 248, 220,.7);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer {
    position: absolute;
    bottom: 5%;
    padding-left: 1%;
    justify-content: center;
}

#dogpic {
    max-width: 40%;
    margin-top: 2%;
}
#dogpic:hover {
    cursor:pointer;
}
.dogicon{
    max-width: 30%;
}
.hero {
    background-color: #F89346;
}

.notification {
    background-color: #fcb681;
}
@media (max-width: 640px) {
   .dogicon {
    max-width: 15%;
   }
   #dogpic {
    max-width: 100%;
   }
  }
 
  
  
  
  
  
  
